<div class="box minor left">
	<span class="box-top-title"><%= t 'admin.templates.templates' %></span>
	<span class="box-top-buttons"><%= link_to_remote t('admin.templates.new_template'), :url => new_admin_settings_template_path(), :method => :get, :html => { :class  => "new" } %></span>
	<span class="box-top-dropdown"><div id='new-template' style='display:none'></div></span>
	<div class="templates-sidebar">
		<ul>
		<% object.map do |templ| %>
			<li id='template-<%= templ.id %>'><%= link_to templ.name, admin_settings_template_path(templ) %> <%= link_to_remote "<span class='invisible'>delete</span>".hs, {:url => admin_settings_template_path(templ), :method => :delete, :confirm => "#{t 'admin.general.are_you_sure_to_delete'} '#{templ.name}' ?"}, {:class => 'icon-delete'} %></li>
		<% end %>
		</ul>
	</div>
</div>