<div class="wrap cell_5" id='available_areas'>
    <header>
        <h2>
           <%= t "admin.pages.available_areas_in_this_layout" %>
        </h2>        
    </header>
    <div class="area_box">
        <% current_layout.areas.map do |area| %>
            <h2><%= area["title"] %></h2>
            <section id="<%= area["short"] %>" class='drop_target'>
                <%= render :partial => "admin/pages/snippet_in_area", :collection => snippets.where('area' => area["short"]), :as => :snip %>
            </section>
        <% end %>
    </div>
    
    <div class="area_box">
        <h2>Limbo</h2>
        <p><%= link_to t("admin.general.purge"), purge_limbo_admin_page_path(page) if defined?(page) %></p>
        <section id="limbo" class='area_box drop_target'>
            <%= render :partial => "admin/pages/snippet_in_area", :collection => snippets.where('area' => 'limbo'), :as => :snip %>
        </section>
    </div>
    
</div>