<div class="wrap block">
     <div class="">
         <div class="block">
             <%= f.label :title, t('admin.general.title') %>
             <%= f.text_field :title, {:id=>"title", :title=>"Page title, can\'t be blank", :class=>"full required"} %>

             <fieldset class="group">
                <legend><%= t('admin.pages.page_options') %></legend>
                <div class="cell_8">
                    <div class="input_group">
                        <% visible_in_menu_checked = page.visible_in_menu || page.visible_in_menu.nil? %>
                        <%= f.check_box :visible_in_menu, :checked => visible_in_menu_checked %> <%= t "admin.general.visible_in_menu" %><br/>
                        <% published_checked = page.published || page.published.nil? %>
                        <%= f.check_box :published, :checked => published_checked %> <%= t "admin.general.published" %><br/>
                        <%= f.check_box :reserved %> <%= t "admin.general.reserved" %>
                    </div>
                </div>
                <div class="cell_8">
                    <label><%= t "admin.layouts.layout" %></label><%= f.select :layout_name, options_from_collection_for_select(@layouts, 'identifier', 'title', @current_layout.identifier) %>
                    <p>Changing layout makes all the current snippets on page to be moved to the Limbo.</p>
                </div>
             </fieldset>
        </div>
    </div>
</div>

<div class="wrap block">
    <ul class="content_accordion no_header">
        <li>
            <a href="#" class="handle">&nbsp;</a>
            <h3 class="bar"><%= t('admin.pages.advanced_options') %></h3>
            <div class="content">
                <%= f.label t('admin.general.pretty_url') %>
                <%= f.text_field :pretty_url, {
                    :title => t("admin.pages.hint_pretty_url"),
                    :class => "medium"
                } %>

                <%= f.label 'Meta Title' %>
                <%= f.text_field :meta_title, {
                    :title => t("admin.pages.hint_meta_title"),
                    :class => "full"
                } %>

                <%# TODO inserire testi help nella form pagina %>
                <%= f.label 'Meta Keywords' %>
                <%= f.text_area :meta_keywords, {
                    :title => t("admin.pages.hint_meta_keywords"),
                    :class => "large"
                } %>

                <%= f.label 'Meta Description' %>
                <%= f.text_area :meta_description, {
                    :title => t("admin.pages.hint_meta_description"),
                    :class => "large"
                } %>

                <%= f.label :featured_image, t('admin.general.featured_image') %>
                <%= f.file_field :featured_image %>

                <%= f.label 'Content div id' %>
                <%= f.text_field :div_id, {
                    :title => t("admin.pages.hint_div_id")
                } %>

                <%= f.label 'Content div class' %>
                <%= f.text_field :div_class, {
                    :title => t("admin.pages.hint_div_class")
                } %>

                <%= f.label 'Content div style' %>
                <%= f.text_field :div_style, {
                    :title => t("admin.pages.hint_div_style")
                } %>

                <%= f.label 'Javascript' %>
                <%= f.text_area :script, { :size => "110x20",
                    :title => t("admin.pages.hint_javascript")
                } %>
            </div>
        </li>
    </ul>
</div>

<script type="text/javascript">
    var title = new LiveValidation('title');
    title.add( Validate.Presence );

    // var realemail = new LiveValidation('realemail');
    // realemail.add( Validate.Email );
    // var atleast = new LiveValidation('atleast');
    // atleast.add( Validate.Length, { minimum: 30 } );
</script>
