<div class="wrap block">
     <div class="">
         <div class="block">                
             <%= f.label :title, t('admin.general.title') %>
             <%= f.text_field :title, {:id=>"title", :title=>"Page title, can\'t be blank", :class=>"large required"} %>

             <label>Opzioni pagina</label>
             <%= f.select :layout_name, options_from_collection_for_select(@layouts.map, 'filename', 'title', @current_layout.filename) %> Layout
             <div class="input_group">
                 <% visible_in_menu_checked = page.visible_in_menu || page.visible_in_menu.nil? %>
                 <%= f.check_box :visible_in_menu, :checked => visible_in_menu_checked %> Visibile in menu<br>
                 <% published_checked = page.published || page.published.nil? %>
                 <%= f.check_box :published, :checked => published_checked %> Pubblicato<br>
                 <%= f.check_box :reserved %> Riservato
             </div>
        </div>
    </div>    
</div>

<div class="wrap block">
    <ul class="content_accordion no_header">
        <li>
            <a href="#" class="handle">&nbsp;</a>
            <h3 class="bar">Opzioni avanzate</h3>
            <div class="content">
                <%= f.label t('admin.general.pretty_url') %>
                <%= f.text_field :pretty_url, {
                    :title=>"se non inserito il pretty url sarà impostato automaticamente con il titolo della pagina",
                    :class=>"large"
                } %>

                <%= f.label 'Meta Title' %>
                <%= f.text_field :meta_title, {
                    :title=>"Il titolo della pagina (importante per il SEO)",
                }%>

                <%# TODO inserire testi help nella form pagina %>
                <%= f.label 'Meta Keywords' %>
                <%= f.text_field :meta_keywords, {
                    :title=>"Inserisci le metakeyword della pagina",
                    :class=>"large"
                } %>

                <%= f.label 'Meta Description' %>
                <%= f.text_field :meta_description, {
                    :title=>"Una descrizione del contenuto della pagina",
                    :class=>"large"
                } %>

                <%= f.label 'Content div id' %>
                <%= f.text_field :div_id %>

                <%= f.label 'Content div class' %>
                <%= f.text_field :div_class %>

                <%= f.label 'Content div style' %>
                <%= f.text_field :div_style %>

                <%= f.label 'Javascript' %>
                <%= f.text_area :script, :size => "110x20"%>
            </div>
        </li>
    </ul>
</div>    

<script type="text/javascript"> 
    var title = new LiveValidation('title');
    title.add( Validate.Presence );
    
    // var realemail = new LiveValidation('realemail');
    // realemail.add( Validate.Email );
    // var atleast = new LiveValidation('atleast');
    // atleast.add( Validate.Length, { minimum: 30 } );
</script>