<tr id='page_item_<%= item.id %>'>
    <td>
        <%= link_to item.title, edit_admin_page_path(item) %>
    </td>
    <td>
        <%= l item.updated_at, :format => :date_with_parenthesized_time %>
    </td>
    <td calss="center">
        <%= item.reserved ? 'v' : 'x' %>
    </td>
    <td class="center">
        <%= item.published ? (link_to "v", toggle_admin_page_path(item), :remote => true, :method => :post, :html => {:class => 'icon-v'}) : (link_to "x".hs, toggle_admin_page_path(item), :remote => true, :method => :post, :html => {:class => 'icon-x'}) %>
    </td>
    <td class="center">
        <%= link_to "opzioni", edit_admin_page_path(item) %>
        <%= link_to "contenuto", admin_page_path(item) %>
        <%= link_to "cancella", admin_page_path(item), :class => 'icon-delete', :method => :delete, :confirm => t('admin.pages.are_you_sure_to_delete', :name => item.title) %>
    </td>
</tr>