<%= content_for :title do %>Modifica pagina<% end %>

<header class="page_description">
  <h2>Modifica pagina: <%= @page.title %></h2>
</header>

<div class="wrap cell_16">
    <% unless @page.errors.blank? %>
    <div class="alert alert_red">
        <img height="24" width="24" src="/admin/images/icons/small/white/Alarm%20Bell.png">
        Errors: <%= errors_for @page %>
    </div>
    <% end %>
    
    <%= form_for @page, :url => admin_page_path(@page) do |f| %>
        <%= render :partial => "form", :object => @page, :as => :page, :locals => {:f => f, :lang => @admin_editing_language} %>
        <div class="buttons">
            <%= submit_tag t('admin.general.save'), :class => "submit" %>    
            <%= link_to t('admin.general.back'), admin_pages_url, :class => "submit" %>
            <%= link_to t('admin.general.delete'), admin_page_url(@page), :method => :delete, :confirm => t('admin.pages.are_you_sure_to_delete', :name => @page.title), :class => "submit delete"  %>
        </div>
</div>
<% end %>