<%= content_for :title do %><%= t('admin.pages.edit_page', :title => @page.title) %><% end %>

<header class="page_description">
  <h2><%= t('admin.pages.edit_page', :title => @page.title) %></h2>
  <small><%= link_to t("admin.pages.go_to_page_contents"), admin_page_path(@page) %></small>
</header>

<div class="wrap cell_16">
    <% unless @page.errors.blank? %>
    <div class="alert alert_red">
        <img height="24" width="24" src="/admin/images/icons/small/white/Alarm%20Bell.png">
        <%= t('admin.general.errors') %>: <%= errors_for @page %>
    </div>
    <% end %>
    
    <%= form_for @page, :url => admin_page_path(@page), :html => { :multipart => true } do |f| %>
        <%= render :partial => "form", :object => @page, :as => :page, :locals => {:f => f, :lang => @admin_editing_language} %>
        <div class="buttons">
            <%= link_to t('admin.general.delete'), admin_page_url(@page), :method => :delete, :confirm => t('admin.pages.are_you_sure_to_delete', :name => @page.title), :class => "submit delete"  %>
            <%= link_to t('admin.general.back'), admin_pages_url, :class => "submit" %>
            <%= submit_tag t('admin.general.save'), :class => "submit" %>    
            <%= submit_tag t('admin.general.save_and_close'), :class => "submit", :name => 'save_and_close' %>  
        </div>
    <% end %>
</div>
