<%= content_for :extra_header do %>
    <link rel="stylesheet" type="text/css" href="/admin/stylesheets/pages_tree.css" media="screen">
<% end %>
<%= content_for :title do %>Elenco pagine<% end %>

<div class="lang_selector">
    <%= select_tag "language", options_from_collection_for_select(Language.all, 'short', 'name', @admin_editing_language),
        :onchange => "$.post('#{set_editing_language_admin_pages_path}', {'_method':'put', 'admin_editing_language':this.value} );" %>    
</div>


<header class="page_description">
    <h2>Gestione Pagine</h2>
</header>

<div class="wrap cell_16 round_all">
    <table class="fancy_rows datatable">
        <thead>
            <tr>
                <th>Titolo</th> 
                <th>Ultima modifica</th> 
                <th>Riservato</th> 
                <th>Pubblicato</th> 
                <th>Azioni</th> 
            </tr>
        </thead>
        <tbody>
            <%= render :partial => "item", :collection => @pages %>
        </tbody>
    </table>
</div>


<header class="page_description">
    <h2>Albero</h2>
    <p>Trascina le pagine per posizionarle all'interno dell'albero. </p>
</header>
<div class="wrap cell_16"> 
    <div id='pages-tree'>
        <%= page_tree(@root_page) -%>
        <div class="buttons">
            <%= button_to_function "Salva modifica", "submit_tree()" %>
        </div>
    </div>

    <script type="text/javascript">
        function submit_tree(){
            serialized_tree = $('ol.sortable').nestedSortable('serialize');
            $.ajax({
                type: "POST",
                url: '/admin/pages/sort',
                data: { _method:'PUT', page: serialized_tree, admin_editing_language: '<%= @admin_editing_language %>' }
            });
        }
    </script>
</div>