<%= content_for :title do %><%= t('admin.pages.new_page') %><% end %>

<header class="page_description">
    <h2><%= t('admin.pages.create_a_new_page') %></h2>
</header>

<section class="">
     <% unless @page.errors.blank? %>
     <div class="alert alert_red">
         <img height="24" width="24" src="/admin/images/icons/small/white/Alarm%20Bell.png">
         <%= t('admin.general.errors') %>: <%= errors_for @page %>
     </div>
     <% end %>
</section>

<div class="wrap cell_16">
    <%= form_for @page, :url => admin_pages_path, :html => { :multipart => true } do |f| %>
    <%= render :partial => "form", :object => @page, :as => :page, :locals => {:f => f, :lang => @admin_editing_language} %>

    <div class="buttons">
        <%= link_to t('admin.general.back'), admin_pages_url, :class => "submit" %>
        <%= submit_tag t('admin.general.save'), :class => "submit" %>    
    </div>
    <% end %>
</div>


