<%= content_for :title do %>Nuova pagina<% end %>

<header class="page_description">
    <h2>Crea una nuova pagina</h2>
</header>

<section class="">
     <% unless @page.errors.blank? %>
     <div class="alert alert_red">
         <img height="24" width="24" src="/admin/images/icons/small/white/Alarm%20Bell.png">
         Errors: <%= errors_for @page %>
     </div>
     <% end %>
</section>

<div class="wrap cell_16">
    <%= form_for @page, :url => admin_pages_path do |f| %>
    <%= render :partial => "form", :object => @page, :as => :page, :locals => {:f => f, :lang => @admin_editing_language} %>

    <div class="buttons">
        <%= submit_tag t('admin.general.save'), :class => "submit" %>    
        <%= link_to t('admin.general.back'), admin_pages_url, :class => "submit" %>
    </div>
</div>
<% end %>

