<%= content_for :title do %>Nuova pagina<% end %>

<header class="page_description">
    <h2>Crea una nuova pagina</h2>
    <p>Descrizione opzionale</p>        
</header>

<section class="">
     <% unless @page.errors.blank? %>
     <div class="alert alert_red">
         <img height="24" width="24" src="/admin/images/icons/small/white/Alarm%20Bell.png">
         Errors: <%= errors_for @page %>
     </div>
     <% end %>
</section>

<%= form_for @page, :url => admin_pages_path do |f| %>
    <%= render :partial => "form", :object => @page, :as => :page, :locals => {:f => f, :lang => @admin_editing_language} %>

    <div class="buttons">
        <button type="submit" class="green skin_colour round_all"><img height="24" width="24" alt="Salva pagina" src="/admin/images/icons/small/white/Bended%20Arrow%20Right.png"><span>Salva</span></button>

        <button type="button" onclick="window.location.href='<%= admin_pages_url %>'" class="red skin_colour round_all"><img height="24" width="24" alt="Annulla" src="/admin/images/icons/small/white/Bended%20Arrow%20Left.png"><span>Annulla</span></button>
    </div>
<% end %>

