<%= content_for :title do %><%= t('admin.pages.manage_contents', :title => @page.title) %><% end %>

<header class="page_description">
    <h2><%= t('admin.pages.manage_contents', :title => @page.title) %> [<%= @page.lang %>]</h2>
</header>

<%= render :partial => "available_areas", :locals => {:current_layout => @current_layout, :snippets => @snippets, :page => @page} %>

<%= render :partial => "layout_selector", :locals => {:current_layout => @current_layout, :layouts => @layouts} %>

<%= render :partial => "available_snippets", :locals => {:snippets_available => @snippets_available} %>

<script type="text/javascript">
  <%= render :partial => "drag_drop.js", :locals => {:sorting_url => sort_admin_page_snippets_path(@page),
                                         :apply_layout_url => apply_layout_admin_page_path(@page) } %>
</script>