<header class="page_description">
    <h2>[<%= @page.lang %>] <%= @page.title %> <%# t('admin.pages.manage_contents') %></h2>
</header>

<%= render :partial => "available_areas", :locals => {:current_layout => @current_layout, :snippets => @snippets} %>

<div class="wrap cell_11">
    <header>
        <h2><%= t('admin.pages.layout') %></h2>
    </header>
    <p class="cell_9 omega"><%= t('admin.pages.changing_layout') %></p>
    <form id='layout_form' class="cell_7 alpha">
        <%= select_tag "layout", options_from_collection_for_select(@layouts.map, 'filename', 'title', @current_layout.filename) %>
    </form>
    <p>This page's language: <%= @page.lang %></p>
</div>

<div class="wrap cell_11 available_widgets">
    <header>
        <h2>
            <%= t('admin.snippets.snippets_available_to_drag_in_areas') %>
        </h2>           
    </header>
    <% @snippets_available.map do |snip| %>
    <div class="area_box">
        <h2><%= snip["name"] %></h2>
        <section id="<%= snip["class"] %>" class='drag_source'>
            <% snip["actions"].map do |act| %>    
                <div class="available_widget sortable_item drag_item" id="<%= snip["class"] %>%<%= act["method"] %>" >
                    <header>
                        <h2><%= act["name"] %></h2>
                    </header>
                    <a href="#" class="icon grabber">&nbsp;</a>
                    <a href="#" class="toggle toggle_closed">&nbsp;</a>
                    <div class="toggle_container" style="display:none;">                  
                        <div class="block">
                            <p><%= act["desc"] %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </section>
    </div>
    <% end %>
</div>


<script type="text/javascript">
$(document).ready(function() {
       
    // This sets the unique id to the cloned snippet
    // WARNING this function runs two times.. still wondering why. TO-DO fix it running just one time
    // Drag and drop of snippets to areas
    // drag_item(s) are the 'source' snippets on the right, items available to be dropped inside areas. drag_source is the container.
    $('.drag_item','.drag_source').draggable({ // This means every drag_item inside drag_source
        handle:'.grabber',  // The element which is used to 'grab' the item
        items:'div.wrap', // The item to be sorted when grabbed!
        connectToSortable: '.drop_target', // Link to the drop destination
        helper:'clone' // Clone the item when dragged instead of moving it
    });
    
    // This sets the unique id to the cloned snippet
    $('.drop_target').livequery(function(){
         $(this).droppable("destroy");
         $(this).droppable({
              drop: function(event, ui) {
                  var dropped = ui.draggable;
                  if (dropped.hasClass('drag_item')){ // ui.draggable is the dragged item just dropped
                    time = new Date().getTime();
                    newid = dropped.attr('id') + '%' + time;
                    dropped.removeClass("drag_item");
                    dropped.attr('id', newid);
                    dropped.removeClass("available_widget");
                  };
              }
         });
    });
    
    // Provides both the creation and the sorting of snippets, submitting the list of snippets present in every area
    $('.drop_target').sortable({
        items:'.sortable_item',
        forceHelperSize:true,
        placeholder: 'dashed_placeholder',        
        forcePlaceholderSize:true,
        connectWith: '.drop_target',
        stop: function(event, ui){
            var sortorder={};
            $('.drop_target').each(function(){
                var itemorder=$(this).sortable('toArray');
                var targetId=$(this).attr('id');
                sortorder[targetId] = itemorder.toString();
            });
            $.ajax({
                type: 'put',
                url: '<%= sort_admin_page_snippets_path(@page) %>',
                data: ({'areas':sortorder}),
                // complete: function(response) {
                //     console.debug(response);
                // }
            });
        } 
    });
    
    $("#layout_form").change(function () {
        var selection = "";
        $("#layout_form option:selected").each(function () {
            selection += $(this).attr('value');
        });
        if (confirm('<%= t("admin.layouts.layout_change_confirm") %>'))
            $.ajax({
                type: "put",
                url: '<%= apply_layout_admin_page_path(@page) %>',
                data: "selected_layout="+selection,
                // success: function(response) {
                //     console.debug(response);
                // }
            });
        return false;
    });

}); // $(document).ready()
</script>
