<%= content_for :title do %><%= t('admin.comments.comment') %><% end %>

<header class="page_description">
    <h2><%= t('admin.comments.comment') %></h2>
</header>

<div class="wrap cell_16">
    <div class="wrap block">
        <div>
            <div class="block">
                <p><%= t "admin.general.title" %></p>
                <p><%= @comment.title.present? ? @comment.title : "Empty" %></p>
                </br>
                <p><%= t "admin.comments.comment" %></p>
                <p><%= @comment.body %></p>
                </br>
                <p><%= t "admin.general.author" %></p>
                <p><%= @comment.username %></p>
                </br>
                <p><%= t "admin.general.email" %></p>
                <p><%= @comment.email.present? ? @comment.email : "Empty" %></p>
                </br>
                <p><%= t "admin.comments.website" %></p>
                <p><%= @comment.website.present? ? @comment.website : "Empty" %></p>
                </br>
                <p><%= t "admin.general.created_at" %></p>
                <p><%= l @comment.created_at, :format => :date_with_parenthesized_time %></p>
                </br>
                <p><%= t "admin.general.published" %></p>
                <p><%= @comment.published ? "Yes" : "No" %></p>
                </br>
                <p><%= t "admin.articles.article" %></p>
                <p><%= @comment.commentable.title %></p>
                </br>
            </div>
        </div>
    </div>
    <div class="buttons">
        <%= link_to t('admin.general.delete'), admin_comment_path(@comment), :class => 'submit delete', :method => :delete, :confirm => t('admin.comments.are_you_sure_to_delete') %>
        <%= link_to t('admin.comments.comment'), get_article_url(@comment.commentable), :class => "submit" %>
        <%= link_to t('admin.general.back'), admin_comments_url, :class => "submit" %>   
    </div>
</div>


