<div id="comment-<%= comment.id %>" style="border: red 1px dotted; margin: 5px">
    <% unless comment.website.blank? %>
        <p><%= link_to comment.username, "http://#{comment.website}" %></p>
    <% else %>
        <p><%= comment.username %></p>
    <% end %>
    <span><%= l comment.created_at, :format => :short %></span>
    <p>Comment: <%= comment.body %></p>
</div>