<nav class="twolevels-menu <%= @options["class"] unless @options["class"].blank? %>" <%= "id=\"#{@options["id"]}\"" unless @options["id"].blank? %>>
    <h5>Pages and sub pages</h5>
    <ul>
        <% @first_level_pages.map do |p| %>
        <% if p.visible_in_menu && p.published && (!p.reserved || (p.reserved && current_user && current_user.is_privileged?)) %>
        <li<%= " class =\"current\"".hs if p.id == @page.id || @family_pages_ids.include?(p.id) %>><%= link_to p.title.hs, get_yard_url(p) %>
            <% unless p.children.blank? %>
            <ul>
                <% p.children.map do |c| %>
                <% if c.visible_in_menu && c.published && (!c.reserved || (c.reserved && current_user && current_user.is_privileged?)) %>
                    <li<%= " class =\"current_children\"" if c.id == @page.id %>><%= link_to c.title.hs, get_yard_url(c) %></li>
                <% end %>
                <% end %>
            </ul>
            <% end %>
        </li>
        <% end %>
        <% end %>
    </ul>
</nav>
