<%# if object.new_record? || object.class.name != "AttachmentsSnippet" %>
<% if object.new_record? %>
	<div class='upload-msg'>
		<p><%= t 'admin.attachments.you_must_save_once_before_attaching_files' %></p>
	</div>
<% else %>

<script type='text/javascript'>
  var swfu;

  window.onload = function () {
    swfu = new SWFUpload({
    	upload_url : '<%= create_admin_asset_path_authenticated %>',
      	flash_url : '/flash/swfupload.swf',

		// Button settings
		button_image_url: "/images/admin/icon-attch.png",	// Relative to the Flash file
		button_width: "65",
		button_height: "34",
		button_placeholder_id: "spanButtonPlaceHolder",
		button_text: '<%= "<span class=\"theFont\">#{t 'admin.attachments.attach'}</span>".san %>',
		button_text_style: ".theFont { font-size: 16px; }",
		button_text_top_padding: 4,
		button_text_right_padding: 5,
		button_text_bottom_padding: 8,
		button_text_left_padding: 8,

		// File settings
		file_size_limit : "50 MB",
		file_types : "*.*",			// "*.doc;*.zip;*.pdf",
		file_types_description : "All Files",
		file_upload_limit : 20,
		file_queue_limit : 0,
		
		// 
		custom_settings : {
			progressTarget : "fsUploadProgress"
		},

		// Handlers from swfupload_handlers.js
      	file_queue_error_handler : fileQueueError,
      	file_dialog_complete_handler : fileDialogComplete,
      	upload_progress_handler : uploadProgress,
      	upload_error_handler : uploadError,
      	upload_success_handler : uploadSuccess,
      	upload_complete_handler : uploadComplete,
		
		//Custom post params
		post_params : {
			"asset[attachable_type]" : "<%= object.class %>",
			"asset[attachable_id]" : "<%= object.id %>",			
			authenticity_token : '<%= u form_authenticity_token -%>'
		},
		
      	custom_settings : { 
        	upload_target : 'divFileProgressContainer',
      	},

      	debug: false

    });
  };
</script>
<div class="attachments-container">
	<div id='new-upload'>
		<div style="margin: 0px 0px;">
			<span id="spanButtonPlaceHolder"></span>
			<div id="divFileProgressContainer"></div>	
			<div class="defloater"></div>			
		</div>
	</div>	
	<div id="thumbnails">
		<%= render :partial => "admin/assets/upload", :collection => object.assets  %>
	</div>
</div>
<% end %>


	
