<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Railsyard 2</title>
  <meta name="description" content="Railsyard 2" />
  <meta name="keywords" content= "railsyard, railsyard2" /> 
  <meta name="authors" content= "Matteo Papadopoulos, Silvio Relli, Cantiere Creativo" />
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/admin/javascripts/jquery.form.js' %>
  <%= javascript_include_tag :ckeditor %>
  <%= csrf_meta_tag %>
</head>
<body>
    <notices>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </notices>
    <header>
        <title>Railsyard 2</title>
        <h1>======= Tema <%= @cfg.theme_name %> =======</h1>
        <%= yield_snippets(@page, "header") if @page %>
    </header>
    
    <container>
        <h2>Container</h2>
        <%= yield_snippets(@page, "body") if @page %>
        <%= yield unless @page %>
    </container>
    
    <footer>
        <h2>Footer</h2>
        <%= yield_snippets(@page, "footer") if @page %>
    </footer>
    
    <%= render 'layouts/support' %>
</body>
</html>
