<div class="wrap block">
    <div>
        <div class="block">
            <div class="cell_16">
                <%= f.label :title, t('admin.general.title') %>
                <%= f.text_field :title, {:id=>"title", :title=>"The main title of the article", :class=>"full" } %>
            </div>
            <div class="cell_10">
                <%= f.label :short, t('admin.articles.abstract') %>
                <%= f.cktext_area :short %>
                
                <%= f.label :body, t('admin.articles.body') %>
                <%= f.cktext_area :body %>

            </div>

            <div class="cell_6">
                <fieldset class="group">
                    <legend><%= t("admin.articles.article_options") %></legend>
                    <%= f.label :lang, t('admin.articles.language') %>
                    <%= f.select :lang, options_from_collection_for_select(Language.all, 'short', 'name', @admin_editing_language) %>

                    <div>
                        <%= f.label "Options" %>
                        <div id="options_list" class="input_group">
                            <%= f.check_box :published, {:id=>"published", :title=>"Immediately publish the article", :checked => article.published} %><%= t('admin.general.published') %><br/>
                            <%= f.check_box :reserved, {:id=>"reserved", :title=>"Makes the article be visible only to premium users", :checked => article.reserved} %><%= t('admin.general.reserved') %><br/>
                            <%= f.check_box :hot, {:id=>"hot", :title=>"Highlight/sticky news", :checked => article.hot} %><%= t('admin.general.hot') %>
                        </div>
                        <div class="cell_12">
                          <%= f.label :user_id, t("admin.articles.article_author") %>
                          <%= f.select :user_id, options_from_collection_for_select(User.writers, :id, :sign, @article.user.id) %>
                        </div>
                        <div class="cell_12">
                            <%= f.label :publish_at, "Publication date" %>
                            <%= f.datetime_select :publish_at, :start_year => 2010, :class=>"full" %>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="group">
                    <legend>Multimedia</legend>
                    <%= image_tag article.featured_image.url(:thumb) if article.featured_image.present? %></br>
                    <%= f.label :featured_image, t('admin.general.featured_image') %>
                    <%= f.file_field :featured_image %>                                
                </fieldset>

                <fieldset class="group">
                    <legend>Categories</legend>
                    <div id='categories_list' class="input_group">   
                    <% @categories.map do |category| %> 
                      <%= render :partial => "/admin/categories/checkbox", :object => category, :as => :category, :locals =>{:article => @article} %>
                    <% end %>
                    </div>
                    <div class="cell_12 b_40">
                        <%= link_to "Add a new category","#", :id => "new_category_link", :class=>"" %></br>
                        <div id='new_category_form' style="display:none">
                          <span>  
                          <%= text_field(:category, :name) %>
                          <%= link_to "Save","#", :id => "save_category_link" %>
                        </div>                    
                    </div>
                </fieldset>                
            </div>
        </div>
    </div>    
</div>

<div class="wrap block">
    <ul class="content_accordion no_header">
        <li>
            <a href="#" class="handle">&nbsp;</a>
            <h3 class="bar"><%= t('admin.pages.advanced_options') %></h3>
            <div class="content">
                <%= f.label t('admin.general.pretty_url') %>
                <%= f.text_field :pretty_url, {
                    :title => t("admin.pages.hint_pretty_url"),
                    :class => "full"
                } %>

                <%= f.label 'Meta Title' %>
                <%= f.text_field :meta_title, {
                    :title => t("admin.pages.hint_meta_title"),
                    :class => "full"
                } %>

                <div class="cell_8">
                    <%= f.label 'Meta Keywords' %>
                    <%= f.text_area :meta_keywords, {
                        :title => t("admin.pages.hint_meta_keywords"),
                        :class => "large"
                    } %>                    
                </div>
                <div class="cell_8">
                    <%= f.label 'Meta Description' %>
                    <%= f.text_area :meta_description, {
                        :title => t("admin.pages.hint_meta_description"),
                        :class => "large"
                    } %>
                </div>
            </div>
        </li>
    </ul>
</div>

<script type="text/javascript"> 
  $('#new_category_link').click(function() {
    $('#new_category_form').show();
  });
  $('#save_category_link').click(function() {
    typed_cat_name = $('#category_name').val();
    $.ajax({
      type: 'POST',
      url: "<%= quick_create_admin_categories_path %>",
      data: "category[name]="+typed_cat_name,
      dataType: "script"
    });
  });
</script>

<script type="text/javascript"> 
    var title = new LiveValidation('title');
    title.add( Validate.Presence );
    
    // var realemail = new LiveValidation('realemail');
    // realemail.add( Validate.Email );
    // var atleast = new LiveValidation('atleast');
    // atleast.add( Validate.Length, { minimum: 30 } );
</script>
