<tr id='article_item_<%= item.id %>'>
    <td>
        <%= item.title %>
    </td>
    <td>
        <%= "#{item.user.firstname} #{item.user.lastname}" %>
    </td>
    <td>
        <%= l item.updated_at, :format => :date_with_parenthesized_time %>
    </td>
    <td calss="center">
        <%= item.reserved ? 'v' : 'x' %>
    </td>
    <td calss="center">
        <%= item.published ? 'v' : 'x' %>
    </td>
    <td class="center">
        <%= link_to t("admin.general.edit"), edit_admin_article_path(item) %>
        <%= link_to t("admin.general.toggle"), toggle_admin_article_path(item), :remote => true, :method => :post %>
        <%= link_to t("admin.general.delete"), admin_article_path(item), :class => 'icon-delete', :method => :delete, :confirm => t('admin.articles.are_you_sure_to_delete', :title => item.title) %>
    </td>
</tr>