<tr id='article_item_<%= item.id %>'>
    <td>
        <%= item.title %>
    </td>
    <td>
        <%= item.user.name %>
    </td>
    <td>
        <%= l item.updated_at, :format => :date_with_parenthesized_time %>
    </td>
    <td calss="center">
        <%= item.reserved ? t("admin.general.yes") : t("admin.general.no") %>
    </td>
    <td calss="center">
        <%= item.published ? t("admin.general.yes") : t("admin.general.no") %>
    </td>
    <td class="center">
        <%= link_to image_tag("../admin/images/icons/small/grey/Pencil.png"), edit_admin_article_path(item) %>
        <%= link_to image_tag("../admin/images/icons/small/grey/View.png"), get_article_url(item) %>
    </td>
</tr>