<% content_for :secondmenu do %>
<ul>
	<li><%#= link_to "<span>#{t 'admin.general.available'}</span>".hs, "" %></li>
	<li><%#= link_to "<span>#{t 'admin.general.trash'}</span>".hs, "" %></li>
</ul>
<% end %>

<div class="box maior left">
	<span class="box-top-title"><%= t 'admin.articles.write_a_new_article' %></span>
	<% form_for @article, :url => admin_articles_path, :html => { :multipart => true } do |f| %>
		<%= error_messages_for :article %>
		<%= render :partial => "form", :object => @article, :locals => {:f => f} %>
		<%= hidden_field_tag "commit_type", "" %> 
		<div class="buttons"><%= submit_tag t('admin.general.save'), :class => "submit", :OnClick => "$('commit_type').value='save'" %> <%= submit_tag t('admin.general.save_and_close'), :class => "submit", :OnClick => "$('commit_type').value='save_and_close'" %> <%= link_to t('admin.general.back'), admin_articles_url, :class => "submit" %></div> 
	<% end %>
	<%= render :partial => "admin/assets/panel", :object => @article %>
</div>
