<%= content_for :title do %><%= t "admin.article.new_article" %><% end %>

<header class="page_description">
    <h2><%= t "admin.article.write_a_new_article" %></h2>
</header>

<section class="">
     <% unless @article.errors.blank? %>
     <div class="alert alert_red">
         <img height="24" width="24" src="/admin/images/icons/small/white/Alarm%20Bell.png">
         <%= t "admin.general.errors" %>: <%= errors_for @article %>
     </div>
     <% end %>
</section>

<div class="wrap cell_16">
    <%= form_for @article, :url => admin_articles_path, :html => { :multipart => true } do |f| %>
    <%= render :partial => "form", :object => @article, :as => :article, :locals => {:f => f} %>

    <div class="buttons">    
        <%= link_to t('admin.general.back'), admin_articles_url, :class => "submit" %>
        <%= submit_tag t('admin.general.save'), :class => "submit" %>
    </div>
    <% end %>
</div>

