<div class='article' id='article-<%= object.id %>'>
  <h1><%= link_to object.title, get_article_url(object) %></h1>
  <span class='publish-date'><%= l object.publish_at.to_date, :format => :long %></span>
  <p class='abstract'><%= render :inline => object.short %></p>
  
  <div class="article-body"><%= render :inline => object.body %></div>
  <div class="article-comments">
    <%= link_to (t 'public.comments.comments', :count => object.comments.count), get_article_url(object) if object.comments_enabled %>
    <%= render :partial => "/assets/panel.html.erb", :object => object %>
  </div>
</div>