<%= error_messages_for :user %>

<% form_for @user, :url => {:controller => :users, :action => :reset}, :html => {:method => :post} do |f| %>
  <p><%= t("public.users.choose_a_new_password", :email => @user.email) %></span></p>  
  
  <p>  
    <label for="password"><%= t("public.users.password") %></label><br />  
    <%= f.password_field :password %>  
  </p>  
  
  <p>  
    <label for="password"><%= t("public.users.confirm_password") %></label><br />  
    <%= f.password_field :password_confirmation %>  
  </p>  
  
  <p>  
    <%= submit_tag t("public.general.submit") %>
  </p>  
<% end %>