<!doctype html>
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <%= render :partial => "partials/head" %>
    <link rel="stylesheet" href="<%= current_theme_stylesheet_path('single') %>">
</head>

<body>
    <div class="hive_12">
        <%= render :partial => "partials/header" %><%# it contains the header snippet %>
    
        <div class="cell_3">
            <aside>
                <%= yield_snippets(@page, "left") if @page %>
                <%= yield_article_snippets(@article_layout, "left", @article) if @article %>
            </aside>
        </div>
        <div class="cell_6">
            <article>
                <%= yield_snippets(@page, "center") if @page %>
                <%= yield_article_snippets(@article_layout, "center", @article) if @article %>
            </article>
        </div>
        <div class="cell_3">
            <aside>
                <%= yield_snippets(@page, "right") if @page %>
                <%= yield_article_snippets(@article_layout, "right", @article) if @article %>
            </aside>
        </div>

        <div class="cell_12">
            <footer>
                <%= yield_snippets(@page, "footer") if @page %>
                <%= yield_article_snippets(@article_layout, "footer", @article) if @article %>
            </footer>
        </div>

    </div>
</body>