<header class="page_description">
    <h2><%= t "admin.article_layouts.select_snippets" %> - <%= @article_layout.lang %></h2>
</header>

<div class="lang_selector">
    <%= select_tag "language", options_from_collection_for_select(Language.all, 'short', 'name', @admin_editing_language),
        :onchange => "$.post('#{set_editing_language_admin_article_layouts_path}', {'_method':'put', 'admin_editing_language':this.value} );" %>    
</div>

<%= render :partial => "admin/pages/available_areas", :locals => {:current_layout => @current_layout, :snippets => @snippets} %>

<div class="wrap cell_11">
    <header>
        <h2><%= t "admin.layouts.layout" %></h2>
    </header>
    <p class="cell_9 omega"><%= t "admin.layouts.changing_layout" %></p>
    <form id='layout_form' class="cell_7 alpha">
        <%= select_tag "layout", options_from_collection_for_select(@layouts.map, 'filename', 'title', @current_layout.filename) %>
    </form>
</div>

<%= render :partial => "admin/pages/available_snippets", :locals => {:snippets_available => @snippets_available} %>

<script type="text/javascript">
$(document).ready(function() {
       
    // This sets the unique id to the cloned snippet
    // WARNING this function runs two times.. still wondering why. TO-DO fix it running just one time
    // Drag and drop of snippets to areas
    // drag_item(s) are the 'source' snippets on the right, items available to be dropped inside areas. drag_source is the container.
    $('.drag_item','.drag_source').draggable({ // This means every drag_item inside drag_source
        handle:'.grabber',  // The element which is used to 'grab' the item
        items:'div.wrap', // The item to be sorted when grabbed!
        connectToSortable: '.drop_target', // Link to the drop destination
        helper:'clone' // Clone the item when dragged instead of moving it
    });
    
    // This sets the unique id to the cloned snippet
    $('.drop_target').livequery(function(){
         $(this).droppable("destroy");
         $(this).droppable({
              drop: function(event, ui) {
                  if (ui.draggable.hasClass('drag_item')){ // ui.draggable is the dragged item just dropped
                    time = new Date().getTime();
                    newid = ui.draggable.attr('id') + '%' + time;
                    ui.draggable.removeClass("drag_item");
                    ui.draggable.attr('id', newid);
                  };
              }
         });
    });
    
    // Provides both the creation and the sorting of snippets, submitting the list of snippets present in every area
    $('.drop_target').sortable({
        items:'.sortable_item',
        forceHelperSize:true,
        placeholder: 'dashed_placeholder',        
        forcePlaceholderSize:true,
        connectWith: '.drop_target',
        stop: function(event, ui){
            var sortorder={};
            $('.drop_target').each(function(){
                var itemorder=$(this).sortable('toArray');
                var targetId=$(this).attr('id');
                sortorder[targetId] = itemorder.toString();
            });
            $.ajax({
                type: 'put',
                url: '<%= sort_admin_article_layout_snippets_path(@article_layout) %>',
                data: ({'areas':sortorder}),
                // complete: function(response) {
                //     console.debug(response);
                // }
            });
        } 
    });
    
    $("#layout_form").change(function () {
        var selection = "";
        $("#layout_form option:selected").each(function () {
            selection += $(this).attr('value');
        });
        if (confirm('<%= t("admin.layouts.layout_change_confirm") %>'))
            $.ajax({
                type: "put",
                url: '<%= apply_layout_admin_article_layout_path(@article_layout.id) %>',
                data: "selected_layout="+selection,
                // success: function(response) {
                //     console.debug(response);
                // }
            });
        return false;
    });

}); // $(document).ready()
</script>
