<header class="page_description">
    <h2><%= t "admin.article_layouts.select_snippets" %> [<%= @article_layout.lang %>]</h2>
</header>

<div class="lang_selector">
    <%= select_tag "language", options_from_collection_for_select(Language.all, 'short', 'name', @admin_editing_language),
        :onchange => "$.post('#{set_editing_language_admin_article_layouts_path}', {'_method':'put', 'admin_editing_language':this.value} );" %>    
</div>

<%= render :partial => "admin/pages/available_areas", :locals => {:current_layout => @current_layout, :snippets => @snippets} %>

<%= render :partial => "admin/pages/layout_selector", :locals => {:current_layout => @current_layout, :layouts => @layouts} %>

<%= render :partial => "admin/pages/available_snippets", :locals => {:snippets_available => @snippets_available} %>

<script type="text/javascript">
  <%= render :partial => "admin/pages/drag_drop.js", :locals => {:sorting_url => sort_admin_article_layout_snippets_path(@article_layout),
                                                     :apply_layout_url => apply_layout_admin_article_layout_path(@article_layout.id) } %>
</script>
