<div class="wrap block">
    
    <fieldset class="group">
       <legend>SEO info</legend>
       <%= f.label t('admin.settings.site_wide_title_metatag') %><%= f.text_field :site_page_title, :class=>"medium" %>
    
        <div class="cell_8">
            <div><%= f.label t('admin.settings.default_page_keywords') %><%= f.text_area :default_page_keywords %> </div>       
        </div>
        <div class="cell_8">
            <div><%= f.label t('admin.settings.default_page_desc') %><%= f.text_area :default_page_desc %></div>
        </div>
        <%= f.label  t('admin.settings.google_analitics_script') %><%= f.text_area :analytics, :size => "83x10" %>
        <p class="help">TIP: you can call this js code inside a script tag in your layout with @cfg.analytics</p>
        
    </fieldset>
    
    <fieldset class="group">
       <legend>RAILSYARD settings</legend>
    
        <%= f.label t('admin.settings.frontend_controls') %><%= f.check_box :frontend_controls %>
        <span class="help">Enable the possibility to edit and drag snippet directly from front end</span>
        <%#= f.label t('admin.settings.comments_enabled_default') %><%#= f.check_box :comments_enabled_default %>
        <%= f.label  t('admin.settings.default_language') %><%= f.select :default_lang, options_from_collection_for_select(Language.all, 'short', 'name', setting.default_lang) %>
        <%= f.label  t('admin.settings.theme_name') %><%= f.select(:theme_name, options_from_collection_for_select(Theme.all, 'short', 'title', selected = setting.theme_name)) %>
        <p class="help"><%= t('admin.settings.theme_change_warning') %></p>
    </fieldset>    
</div>