<div class="box grid_16 round_all">
     <div class="">
         <div class="block">                
            <%= f.label :title, t('admin.general.title') %>
            <%= f.text_field :title, {:id=>"notempty", :title=> t("admin.general.field_cant_be_blank"), :class=>"large required", :autofocus=>""} %>

            <%= f.fields_for :options do |o| %>
                <% if @snippet.serialized_attributes %>
                    <% @snippet.serialized_attributes.map do |att| %>
                        <% default_value = @snippet.options.blank? ? "" : @snippet.options[att[0]] %>     
                        <%= o.label att[0] %>                  
                        <% case att[1] %>
                            <% when "string" then %>
                                <%= o.text_field att[0], :value => default_value, "data-validation" => "text" %>
                            <% when "text" then %>
                                <%= o.text_area att[0], :value => default_value, "data-validation" => "text" %>
                            <% when "integer" then %>
                                <%= o.text_field att[0], :value => default_value, "data-validation" => "integer" %>
                            <% when "editor" then %>
                                <%### SINTAX ERROR BUG IN EDITOR JS, I need to hardcode the form %>
                                <%### original: %>
                                <%#= o.cktext_area att[0], :input_html => { :value => default_value, "data-validation" => "none" } %>
                                <%### hardcoded: %>
                                <% if true %>
                                <textarea cols="40" id="snippet_options_body" name="snippet[options][body]" rows="20">
                                    <%= default_value %>
                                </textarea>
                                <script type="text/javascript">
                                    if (CKEDITOR.instances['snippet_options_<%= att[0] %>']) {CKEDITOR.remove(CKEDITOR.instances['snippet_options_<%= att[0] %>']);}CKEDITOR.replace('snippet_options_<%= att[0] %>', { "language": 'en' });
                                </script>
                                <% end %>
                                <%### end hardcoded %>
                            <% when "article_categories" then %>
                                <%# Needed to submit the serialized form when no category is choosen %>
                                <div><input type="hidden" type="checkbox" value="0" name="snippet[options][categories][]"></div>
                                <% @categories.map do |category| %> 
                                <div>
                                    <%= check_box_tag "snippet[options][#{att[0]}][]", category.id, default_value.include?(category.id.to_s), :id => "category_#{category.name.underscore}" %>  
                                    <%= category.name.humanize %>
                                </div>
                                <% end %>
                            <% when "uploads" then %>
                                <%# Hack to avoid form inside form. Calls uploads/new via ajax %>
                                <script type='text/javascript'>
                                    $(document).ready(function() {                              
                                        $.ajax({
                                            type: 'get',
                                            url: '<%= new_admin_upload_path(:attachable_id => @snippet.id, :attachable_type => @snippet.class) %>',
                                            dataType: 'script'
                                        });
                                    });
                                </script>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>    
</div>