<tr id='snippet-<%= object.id %>'>
	<td width="170px"><span><%= link_to object.name, edit_admin_page_snippet_path(object.page, object) %></span></td>
	<td width="170px"><span><%= link_to object.page.name, admin_page_path(object.page) %></span></td>
	<td width="60px"><%= object.page.lang.capitalize %></td>
  	<td width="170px"><%= l object.updated_at, :format => :date_with_parenthesized_time %></td>
	<td align="center"><%= object.published? ? (link_to_remote "<span class='invisible'>v</span>".hs, :url => toggle_admin_page_snippet_path(object.page, object), :html => {:class => 'icon-v'}) : (link_to_remote "<span class='invisible'>x</span>".hs, :url => toggle_admin_page_snippet_path(object.page, object), :html => {:class => 'icon-x'}) %></td>
	<td align="center"><%= link_to "<span class='invisible'>delete</span>".hs, admin_page_snippet_path(object.page, object), :class => 'icon-delete', :method => :delete, :confirm => "#{t 'admin.general.are_you_sure_to_delete'} '#{object.name}' ?" %></td>
</tr>