<header class="page_description">
    <h2><%= t('admin.snippets.edit_snippet', :title => @snippet.title) %></h2>
    <% unless @snippet.errors.blank? %>
    <div class="alert alert_red">
        <img height="24" width="24" src="/admin/images/icons/small/white/Alarm%20Bell.png">
        <%= t('admin.general.errors') %>: <%= errors_for @snippet %>
    </div>
    <% end %>
</header>

<div class="wrap cell_16">
    <% destination = @snippet.article_layout ? admin_article_layout_snippet_path(@snippet.article_layout.id, @snippet.id) : admin_page_snippet_path(@snippet.page.id, @snippet.id) %>
    <% back_url = @snippet.article_layout ? edit_admin_article_layout_path(@snippet.article_layout.lang) : admin_page_path(@snippet.page.id) %>
    <%= form_for @snippet, :url => destination, :html => { :multipart => true } do |f| %>
    <%= errors_for(@snippet) %>
    <%= render :partial => "form", :object => @article, :locals => {:f => f} %>

    <div class="buttons">
        <%= submit_tag t('admin.general.save'), :class => "submit" %>    
        <%= link_to t('admin.general.back'), back_url, :class => "submit" %>
        <%= link_to t('admin.general.delete'), destination, :method => :delete, :confirm => t('admin.pages.are_you_sure_to_delete', :name => @snippet.title), :class => "submit delete"  %>
    </div>
    <% end %>
</div>