<div class="wrap block">
    <div class="">
        <div class="block">                
            <%= f.label :firstname, t('admin.users.first_name') %>
            <%= f.text_field :firstname, {:id=>"firstname", :title => t("admin.general.field_cant_be_blank"), :class=>"large required"} %>
            
            <%= f.label :lastname, t('admin.users.last_name') %>
            <%= f.text_field :lastname, {:id=>"lastname", :title => t("admin.general.field_cant_be_blank"), :class=>"large required"} %>

            <%= f.label :pretty_url, t('admin.users.pretty_url') %>
            <%= f.text_field :pretty_url, {:class=>"large"} %>
            
            <%= f.label :email, t('admin.users.email') %>
            <%= f.text_field :email, {:id=>"email", :title => t("admin.general.field_cant_be_blank"), :class=>"large required"} %>
            
            <%= f.label :password , t('admin.users.password')%>
            <%= f.password_field :password, {:id=>"password", :title => t("admin.users.hint_type_a_long_password"), :class=>"large required"} %>

            <%= f.label :password_confirmation, t('admin.users.password_confirmation') %>
            <%= f.password_field :password_confirmation, {:id=>"password_confirmation", :title => t("admin.users.hint_retype_password"), :class=>"large required"} %>
            
            <%= f.label :lang, t('admin.users.admin_panel_language') %>
            <%= f.select :lang, options_from_collection_for_select(Language.all, 'short', 'name', user.lang) %>

            <div class="input_group">
                <%= f.check_box :enabled, {:id=>"enabled", :title => t("admin.users.hint_enable_user"), :checked => user.enabled} %> <%= t('admin.users.enabled') %>
                <p class="help">Enable the user without email confirmation</p>
            </div>
            
            <%= f.label "Roles" %>
            <% Role.all.map do |role| %>  
                <div>  
                  <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>  
                  <%= role.name.humanize %>  
                </div>  
            <% end %>
        
        </div>
    </div>    
</div>


<script type="text/javascript"> 
    var firstname = new LiveValidation('firstname');
    firstname.add( Validate.Presence );
    
    var lastname = new LiveValidation('lastname');
    lastname.add( Validate.Presence );
    
    var email = new LiveValidation('email');
    email.add( Validate.Email );
    
    // var password = new LiveValidation('password');
    // password.add( Validate.Presence );
    // password.add( Validate.Length, { minimum: 6 } );
    
    var password_confirmation = new LiveValidation('password_confirmation');
    // password_confirmation.add( Validate.Presence );
    password_confirmation.add( Validate.Confirmation, { match: 'password' } );
    
</script>