<% content_for :secondmenu do %>
<ul>
	<li><%#= link_to "<span>#{t 'admin.general.available'}</span>".hs, "" %></li>
	<li><%#= link_to "<span>#{t 'admin.general.trash'}</span>".hs, "" %></li>
</ul>
<% end %>

<div class="box maior left">
	<span class="box-top-title"><%= t 'admin.users.edit_user' %> <%= @user.login %></span>
	<% @user.password = @user.password_confirmation = nil %>
	<% form_for @user, :url => admin_user_path(@user) do |f| %>
		<%= error_messages_for :user %>
		<%= render :partial => "form", :object => @user, :locals => {:f => f} %>
		<div class="buttons"><%= submit_tag t('admin.general.save'), :class => "submit" %></div>
	<% end %>
</div>
