<%= content_for :extra_header do %>
    <link rel="stylesheet" type="text/css" href="/admin/stylesheets/pages_tree.css" media="screen">
<% end %>
<%= content_for :title do %><%= t "admin.users.users_management" %><% end %>

<header class="page_description">
    <h2><%= t "admin.users.users_list" %></h2>
</header>

<div class="wrap cell_16 round_all">
    <table class="fancy_rows datatable">
        <thead>
            <tr>
                <th><%= t "admin.users.first_name" %></th>
                <th><%= t "admin.users.last_name" %></th>
                <th><%= t "admin.users.email" %></th>
                <th><%= t "admin.users.enabled" %></th>
                <th><%= t "admin.general.actions" %></th>
            </tr>
        </thead>
        <tbody>
            <%= render :partial => "item", :collection => @users %>
        </tbody>
    </table>
</div>

<div class="cell_16 index_actions">
  <%= link_to t('admin.general.csv_export'), admin_user_path(:format => :csv) %>
</div>