<div class='admin_login'>
	<h2>Railsyard CMS Administration</h2>

	<% form_tag session_path do -%>
		<p><%= label_tag t('admin.general.username') %><br />
			<%= text_field_tag 'login', @login, :class => 'username' %></p>

		<p><%= label_tag t('admin.general.password') %><br/>
			<%= password_field_tag 'password', nil, :class => 'password' %></p>

		<p><%= label_tag t('admin.general.remember_me') %>
			<%= check_box_tag 'remember_me', '1', @remember_me, :class => 'remember' %></p>
			
		<%= hidden_field_tag 'admin_panel', 'true' %>
			
		<p><%= submit_tag t('admin.general.login'), :class => 'login-button' %></p>
		
		<% if flash[:notice] %>
		  <div id="notice">
		    <p><%= flash[:notice] %></p>
		  </div>
		  <script type="text/javascript">
		    $('notice').pulsate();
		  </script>
		<% end %>
		
	<% end %>
</div>
