<% content_for :secondmenu do %>
  <%# placeholder %>
<% end %>

<% content_for :sidebar do %>
  <%# placeholder %>
<% end %>

<% if @articles.blank? && @snippets.blank? %>
<div class="search-query">
    <h1><%= t "public.search.no_search_results_for" %> "<%= @query %>"</h1>
</div>
<% else %>
<div class="search-query">
	<h1><%= t 'admin.search.results_for' %> "<%= @query %>"</h1>
</div>
<% end %>

<% if !@articles.blank? %>
<div class="box maior left">
	<span class="box-top-title"><%= t 'admin.articles.articles' %></span>
	<span class="box-top-buttons"></span>
	<span class="box-top-misc"></span>
	<table class="box-item-list">
		<tr>
			<th><%= t 'admin.general.title' %></th>
			<th><%= t 'admin.general.author' %></th>
			<th><%= t 'admin.general.category' %></th>
			<th><%= t 'admin.general.language' %></th>
			<th><%= t 'admin.general.last_update' %></th>
			<th class="table-icons"><%= t 'admin.general.published' %></th>
			<th class="table-icons"><%= t 'admin.general.delete' %></th>
		</tr>
		<%= render :partial => "admin/articles/item", :collection => @articles %>
	</table>
</div>
<% end %>

<% if !@snippets.blank? %>
<div class="box maior left">
	<span class="box-top-title"><%= t 'admin.snippets.snippets' %></span>
	<span class="box-top-buttons"></span>
	<span class="box-top-misc"></span>
	<table class="box-item-list">
		<tr>
			<th><%= t 'admin.snippets.snippet' %></th>
			<th><%= t 'admin.pages.page' %></th>
			<th><%= t 'admin.general.language' %></th>
			<th><%= t 'admin.general.last_update' %></th>
			<th class="table-icons"><%= t 'admin.general.published' %></th>
			<th class="table-icons"><%= t 'admin.general.delete' %></th>
		</tr>
		<%= render :partial => "admin/snippets/item", :collection => @snippets %>
	</table>
</div>
<% end %>
