<% if current_user && current_user.is_admin? && cfg.frontend_controls %>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/admin/javascripts/jquery.form.js' %>
  
  <%= javascript_include_tag :ckeditor %>
  
  <div id="yd_dialog" style="display: none;">
    <div id="yd_dialog_content"></div>
    <div class="loading"><span>Loading data, please wait!</span></div>
  </div>
<% end %>