<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Raylsyard CMS admininistration">
    <meta name="author" content="Cantiere Creativo @teamcantiere - Silvio Relli @silviorelli - Matteo Papadopoulos @spleenteo">

    <link rel="shortcut icon" href="/favicon.ico">
    
    <!-- will render the page using Google Chrome rather than Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= t "admin.general.railsyard_admin_panel" %> - <%= yield :title %></title>        
    
    <%= stylesheet_link_tag "/admin/stylesheets/all.css" %>
    <%= stylesheet_link_tag('jquery.fileupload-ui') %>
    
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/admin/stylesheets/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/admin/stylesheets/ie.css" media="screen" /><![endif]-->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    
    <%= javascript_include_tag :ckeditor %>
    <%= javascript_include_tag "jquery_ujs",
                               "/admin/javascripts/jquery.livequery.js",
                               "/admin/javascripts/jquery.ui.nestedSortable.js",
                               "/admin/javascripts/uniform/jquery.uniform.js",
                               "/admin/javascripts/livevalidation/livevalidation_standalone.js",
                               "/admin/javascripts/tipsy/jquery.tipsy.js",
                               "/admin/javascripts/uitotop/js/jquery.ui.totop.js",
                               "/admin/javascripts/DataTables/jquery.dataTables.min.js",
                               "/admin/javascripts/jquery.iframe-transport.js",
                               "/admin/javascripts/jquery.fileupload.js",
                               "/admin/javascripts/jquery.fileupload-ui.js",
                               "/admin/javascripts/application.js"
    %>
    
    <%= yield :extra_header %>
    <%= csrf_meta_tag %>
</head>
<body>
    <div class="hive_16 clearfix">
        <div class="cell_3">
            <aside id="left_bar">
                <a href="/admin" class="logo"><span>Railsyard CSM</span></a>
                <section class="user clearfix">
                    <h3><%= current_user.email %></h3>
                    <%= gravatar_image_tag(current_user.email, :alt => current_user, :width=>"55px") %>
                    <div class="user_details">
                        <% if current_user.is_admin? %>
                            <h2><%= t "admin.general.administrator" %></h2>
                        <% end %>
                        <ul>
                            <li><%= link_to t('admin.general.profile'), edit_admin_user_path(current_user) %> <span class="divider">|</span></li>
                            <li><%= link_to t('admin.general.logout'), logout_path() %></li>
                        </ul>
                    </div>
                </section><!-- #user_wrap -->
                
                <form id="aside_search"><input class="round_all" type="text" value="Search" onclick="value=''"></form>

                <ul id="accordion">
                    <li><a class="top_level"><img src="/admin/images/icons/small/grey/Home.png"/>Home</a>
                        <ul class="drawer">
                            <li><a href="/admin"><%= t('admin.general.admin_dashboard') %></a></li>
                            <li><a href="/" target="_blank"><%= t('admin.general.public_site') %></a></li>
                        </ul>
                    </li>
                    <li><a <%= set_class(:class => "top_level", :controller => "pages") %>><img src="/admin/images/icons/small/grey/Documents.png"/><%= t('admin.pages.pages') %></a>
                        <ul class="drawer">
                            <li <%= set_class(:controller => "pages", :action => "index") %>><%= link_to t('admin.general.list'), admin_pages_path() %></li>
                            <li <%= set_class(:controller => "pages", :action => "new") %>><%= link_to t('admin.general.new'), new_admin_page_path() %></li>
                            <!-- <li <%#= set_class("pages", "preset") %>><a href="#">Preset</a></li> -->
                        </ul>
                    </li>
                    <li><a <%= set_class(:class => "top_level", :controller => ["articles","article_layouts"]) %>><img src="/admin/images/icons/small/grey/Write.png"/><%= t('admin.articles.articles') %></a>
                        <ul class="drawer">
                            <li <%= set_class(:controller => "articles", :action => "index") %>><%= link_to t('admin.general.list'), admin_articles_path() %></li>
                            <li <%= set_class(:controller => "articles", :action => "new") %>><%= link_to t('admin.general.new'), new_admin_article_path() %></li>
                            <li <%= set_class(:controller => "article_layouts", :action => "edit") %>><%= link_to t('admin.general.design'), edit_admin_article_layout_path(@admin_editing_language) %></li>
                            <li <%= set_class(:controller => "categories", :action => "index") %>><%= link_to t('admin.categories.categories'), admin_categories_path %></li>
                            <!-- <li><a href="#">Comments</a></li> -->
                        </ul>
                    </li>
                    <li><a <%= set_class(:class => "top_level", :controller => ["users"]) %>><img src="/admin/images/icons/small/grey/Users.png"/><%= t('admin.users.users') %></a>
                        <ul class="drawer">
                            <li <%= set_class(:controller => "users", :action => "index") %>><%= link_to t('admin.general.list'), admin_users_path %></li>
                            <li <%= set_class(:controller => "users", :action => "new") %>><%= link_to t('admin.general.new'), new_admin_user_path %></li>
                            <!-- <li><a href="#">Esporta</a></li> -->
                        </ul>
                    </li>
                    <li><a <%= set_class(:class => "top_level", :controller => ["settings"]) %>><img src="/admin/images/icons/small/grey/Cog%202.png"/><%= t('admin.settings.settings') %></a>
                        <ul class="drawer">
                            <li <%= set_class(:controller => "settings", :action => "edit") %>><%= link_to t('admin.general.general'), edit_admin_settings_path %></li>
                            <!-- <li <%#= set_class(:controller => "users", :action => "index") %>><%#= link_to "Il tuo profilo", edit_admin_user_path(current_user) %></li> -->
                        </ul>
                    </li>
                    <% if false %>
                    <li><a class="top_level"><img src="/admin/images/icons/small/grey/Paperclip.png"/>Media</a>
                        <ul class="drawer">
                            <li><a href="#">Tutti</a></li>
                            <li><a href="#">Immagini</a></li>
                            <li><a href="#">Documenti</a></li>
                            <li><a href="#">Video</a></li>
                            <li><a href="#">Audio</a></li>
                        </ul>
                    </li>
                    <% end %>
                </ul>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $(function(){
                          /*
                           * Si apre l'accordion se un elemento
                           * ha sia la classe this_controller che top_level
                           */
                          var top_level = $(".this_controller.top_level");
                          var i = top_level.parent().prevAll().length;
                          $("#accordion").accordion({active: i});
                          
                          /*
                           * indivuo l'oggetto con classe this_action
                           * per mettere il trinagolo al lato della barra
                           */
                          var basic_tr = $("#left_bar > .menu_triangle");
                          basic_tr.clone().appendTo(".this_controller.this_action");
                          basic_tr.remove();
                          var tr = $(".menu_triangle", ".ui-accordion-content-active");
                          tr.css({"display": "block" });
                        });
                    });
                </script>
                
                <ul id="side_links" class="text_shadow" >
                    <li><%= link_to t('admin.general.documentation'), "https://github.com/cantierecreativo/railsyardcms/wiki", :target=>"_blank" %></li>
                    <li><%= link_to t('admin.general.updates_on_railsyard'), "http://twitter.com/teamcantiere", :target=>"_blank" %></li>
                    <li><%= link_to t('admin.general.sourcecode_on_github'), "https://github.com/cantierecreativo/railsyardcms", :target=>"_blank" %></li>
                    <li><%= link_to t('admin.general.cantiere_creativo'), "http://www.cantierecreativo.net", :target=>"_blank" %></li>
                </ul>
                <div class="menu_triangle"></div>
            </aside><!-- #sidebar -->
        </div>
        
        <div class="cell_13">
            <div id="main_container" class="clearfix">
                <%= yield %>
            </div>            
        </div>
        
        <!-- TEST AREA - NOT FOR PRODUCTION -->
        <div class="cell_13">
            <div id="upload-test">
                <div id="fileupload">
                    <%= form_for Upload.new, :url => admin_uploads_path, :html => { :multipart => true } do |f| %>
                        <div class="fileupload-buttonbar">
                            <label class="fileinput-button">
                                <span>Add files...</span>
                                        <%= f.file_field :data %>
                            </label>
                            <!-- <button type="submit" class="start">Start upload</button> -->
                            <button type="reset" class="cancel">Cancel upload</button>
                            <!-- <button type="button" class="delete">Delete files</button> -->
                        </div>
                    <% end %>
                    <div class="fileupload-content">
                        <table class="files"></table>
                        <div class="fileupload-progressbar"></div>
                    </div>
                </div>

                <script id="template-upload" type="text/x-jquery-tmpl">
                    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
                        <td class="preview"></td>
                        <td class="name">${name}</td>
                        <td class="size">${sizef}</td>
                        {{if error}}
                            <td class="error" colspan="2">Error:
                                {{if error === 'custom_failure'}}Custom Error Message
                                {{else}}${error}
                                {{/if}}
                            </td>
                        {{else}}
                            <td class="progress"><div></div></td>
                            <td class="start"><button>Start</button></td>
                        {{/if}}
                        <td class="cancel"><button>Cancel</button></td>
                    </tr>
                </script>
                <script id="template-download" type="text/x-jquery-tmpl">
                    <tr class="template-download{{if error}} ui-state-error{{/if}}">
                        {{if error}}
                            <td></td>
                            <td class="name">${name}</td>
                            <td class="size">${sizef}</td>
                            <td class="error" colspan="2">Error:
                                {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
                                {{else}}${error}
                                {{/if}}
                            </td>
                        {{else}}
                            <td class="preview">
                                {{if thumbnail_url}}
                                    <a href="${url}" target="_blank"><img src="${thumbnail_url}"></a>
                                {{/if}}
                            </td>
                            <td class="name">
                                <a href="${url}"{{if thumbnail_url}} target="_blank"{{/if}}>${name}</a>
                            </td>
                            <td class="size">${sizef}</td>
                            <td colspan="2"></td>
                        {{/if}}
                        <td class="delete">
                            <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
                        </td>
                    </tr>
                </script>

                <script type="text/javascript" charset="utf-8">
                    $(function () {
                        // Initialize the jQuery File Upload widget:
                        $('#fileupload').fileupload();
                        // 
                        // Load existing files:
                        $.getJSON($('#fileupload form').prop('action'), function (files) {
                            var fu = $('#fileupload').data('fileupload');
                            fu._adjustMaxNumberOfFiles(-files.length);
                            fu._renderDownload(files)
                                .appendTo($('#fileupload .files'))
                                .fadeIn(function () {
                                    // Fix for IE7 and lower:
                                    $(this).show();
                                });
                        });

                        // Open download dialogs via iframes,
                        // to prevent aborting current uploads:
                        $('#fileupload .files a:not([target^=_blank])').live('click', function (e) {
                            e.preventDefault();
                            $('<iframe style="display:none;"></iframe>')
                                .prop('src', this.href)
                                .appendTo('body');
                        });

                    });
                </script>
                
            </div><!-- end upload test -->         
        </div><!-- end cell_13 -->
        
        
    </div><!-- #wrapper -->
    <div class="hive_16">
        <footer id="template_options" class="clearfix">
            Railsyard CMS &bull; v.0.2.0 &bull; <a href="http://www.cantierecreativo.net">credits</a>
        </footer>
    </div>
    
</body>
</html>