<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Raylsyard CMS admininistration">
    <meta name="author" content="Cantiere Creativo @teamcantiere - Silvio Relli @silviorelli - Matteo Papadopoulos @spleenteo">

    <link rel="shortcut icon" href="/favicon.ico">
    
    <!-- will render the page using Google Chrome rather than Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Railsyard Admin Panel - <%= yield :title %></title>        
    
    <%= stylesheet_link_tag "/admin/stylesheets/all.css" %>

    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/admin/stylesheets/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/admin/stylesheets/ie.css" media="screen" /><![endif]-->
    
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'jquery_ujs' %>
    <%= javascript_include_tag :ckeditor %>
    
    <%= javascript_include_tag "/admin/javascripts/jquery.livequery.js",
                               "/admin/javascripts/jquery.ui.nestedSortable.js",
                               "/admin/javascripts/uniform/jquery.uniform.js",
                               "/admin/javascripts/livevalidation/livevalidation_standalone.js",
                               "/admin/javascripts/tipsy/jquery.tipsy.js",
                               "/admin/javascripts/uitotop/js/jquery.ui.totop.js",
                               "/admin/javascripts/DataTables/jquery.dataTables.min.js",
                               "/admin/javascripts/application.js"
    %>
    
    <%#= javascript_include_tag "/admin/javascripts/fancybox/jquery.fancybox-1.3.4",
                                "/admin/javascripts/jqueryFileTree/jqueryFileTree",
                                "/admin/javascripts/fullcalendar/fullcalendar.min",
                                "/admin/javascripts/fullcalendar/gcal"
    %>
    
    <%= yield :extra_header %>
    <%= csrf_meta_tag %>
</head>
<body>
    <div class="hive_16 clearfix">
        <div class="cell_3">
            <aside id="left_bar">
                <a href="/admin" class="logo"><span>Railsyard CSM</span></a>
                <section class="user clearfix">
                    <h3><%= current_user.email %></h3>
                    <%= gravatar_image_tag(current_user.email, :alt => current_user, :width=>"55px") %>
                    <div class="user_details">
                        <% if current_user.is_admin? %>
                            <h2>Administrator</h2>
                        <% end %>
                        <ul>
                            <li><%= link_to t('admin.general.profile'), edit_admin_user_path(current_user) %> <span class="divider">|</span></li>
                            <li><%= link_to "logout", logout_path() %></li>
                        </ul>
                    </div>
                </section><!-- #user_wrap -->
                
                <form id="aside_search"><input class="round_all" type="text" value="Search" onclick="value=''"></form>

                <ul id="accordion">
                    <li><a class="top_level"><img src="/admin/images/icons/small/grey/Home.png"/>Home</a>
                        <ul class="drawer">
                            <li><a href="/admin">Admin dashboard</a></li>
                            <li><a href="/" target="_blank">Public site</a></li>
                        </ul>
                    </li>
                    <li><a <%= set_class(:class => "top_level", :controller => "pages") %>><img src="/admin/images/icons/small/grey/Documents.png"/>Pagine</a>
                        <ul class="drawer">
                            <li <%= set_class(:controller => "pages", :action => "index") %>><%= link_to "Elenco", admin_pages_path() %></li>
                            <li <%= set_class(:controller => "pages", :action => "new") %>><%= link_to "Nuova", new_admin_page_path() %></li>
                            <!-- <li <%#= set_class("pages", "preset") %>><a href="#">Preset</a></li> -->
                        </ul>
                    </li>
                    <li><a <%= set_class(:class => "top_level", :controller => ["settings","users"]) %>><img src="/admin/images/icons/small/grey/Cog%202.png"/>Impostazioni</a>
                        <ul class="drawer">
                            <li <%= set_class(:controller => "settings", :action => "edit") %>><%= link_to "Generali", edit_admin_settings_path(1) %></li>
                            <li <%= set_class(:controller => "users", :action => "index") %>><%= link_to "Il tuo profilo", edit_admin_user_path(current_user) %></li>
                        </ul>
                    </li>
                    <% if false %>
                    <li><a class="top_level"><img src="/admin/images/icons/small/grey/Write.png"/>Articoli</a>
                        <ul class="drawer">
                            <li <%= set_class("articles", "index") %>><a href="#">Elenco</a></li>
                            <li <%= set_class("articles", "new") %>><a href="#">Nuovo</a></li>
                            <li><a href="#">Categorie</a></li>
                            <li><a href="#">Commenti</a></li>
                        </ul>
                    </li>
                    <li><a class="top_level"><img src="/admin/images/icons/small/grey/Users.png"/>Utenti</a>
                        <ul class="drawer">
                            <li><a href="#">Elenco</a></li>
                            <li><a href="#">Nuovo</a></li>
                            <li><a href="#">Esporta</a></li>
                        </ul>
                    </li>
                    <li><a class="top_level"><img src="/admin/images/icons/small/grey/Paperclip.png"/>Media</a>
                        <ul class="drawer">
                            <li><a href="#">Tutti</a></li>
                            <li><a href="#">Immagini</a></li>
                            <li><a href="#">Documenti</a></li>
                            <li><a href="#">Video</a></li>
                            <li><a href="#">Audio</a></li>
                        </ul>
                    </li>
                    <% end %>
                </ul>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $(function(){
                          /*
                           * Si apre l'accordion se un elemento
                           * ha sia la classe this_controller che top_level
                           */
                          var top_level = $(".this_controller.top_level");
                          var i = top_level.parent().prevAll().length;
                          $("#accordion").accordion({active: i});
                          
                          /*
                           * indivuo l'oggetto con classe this_action
                           * per mettere il trinagolo al lato della barra
                           */
                          var basic_tr = $("#left_bar > .menu_triangle");
                          basic_tr.clone().appendTo(".this_controller.this_action");
                          basic_tr.remove();
                          var tr = $(".menu_triangle", ".ui-accordion-content-active");
                          tr.css({"display": "block" });
                        });
                    });
                </script>
                
                <ul id="side_links" class="text_shadow" >
                    <li><%= link_to "Documentazione", "https://github.com/cantierecreativo/railsyardcms/wiki", :target=>"_blank" %></li>
                    <li><%= link_to "Updates su Twitter", "http://twitter.com/railsyard", :target=>"_blank" %></li>
                    <li><%= link_to "Railsyard su Github", "https://github.com/cantierecreativo/railsyardcms", :target=>"_blank" %></li>
                    <li><%= link_to "Cantiere Creativo", "http://www.cantierecreativo.net", :target=>"_blank" %></li>
                </ul>
                <div class="menu_triangle"></div>
            </aside><!-- #sidebar -->
        </div>
        
        <div class="cell_13">
            <div id="main_container" class="clearfix">
                <%= yield %>
            </div>            
        </div>
    </div><!-- #wrapper -->
    <div class="hive_16">
        <footer id="template_options" class="clearfix">
            Railsyard CMS &bull; v.0.2.0 &bull; <a href="http://www.cantierecreativo.net">credits</a>
        </footer>
    </div>
    
</body>
</html>