<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Raylsyard CMS admininistration">
    <meta name="author" content="Cantiere Creativo @teamcantiere - Silvio Relli @silviorelli - Matteo Papadopoulos @spleenteo">

    <link rel="shortcut icon" href="/favicon.ico">

    <!-- will render the page using Google Chrome rather than Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= t "admin.general.railsyard_admin_panel" %> - <%= yield :title %></title>

    <%= stylesheet_link_tag "/admin/stylesheets/all.css" %>

    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/admin/stylesheets/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/admin/stylesheets/ie.css" media="screen" /><![endif]-->


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'jquery_ujs' %>

    <%= javascript_include_tag "/admin/javascripts/jquery.livequery.js",
                               "/admin/javascripts/application.js"
    %>
    <%= yield :extra_header %>
    <%= csrf_meta_tag %>
</head>
<html>
    <body>
        <div class="hive_16 clearfix">
            <div class="cell_3">
                <aside id="left_bar">
                    <a href="/admin" class="logo"><span>Railsyard CSM</span></a>
                    <section class="user clearfix">
                        <div class="login_box">
                          <%= yield %>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </body>
</html>

